
@import "tailwindcss";

/* .wapper{
    background-image: url('../public/assets/bg_img.jpg');
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
} */


/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.wapper{
    background-image: url('../public/assets/bg_img.jpg');
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.35);
}


:root {
  /* --primary-gold: #BD9C61; */
  --primary-gold: red;
}

@theme {
  --color-primaryGold: var(--primary-gold);
}
